.feed-page{
    display: flex;
    justify-content: center;
    align-items: flex-start;

.feed{
    max-width: 300px;
    width: 100%;

    .posts{
        width: 100%;
    }

    .post{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background-color: rgb(100, 29, 29);
        padding-inline: 0.5rem;
        padding-bottom: 0.5rem;

        .user{

            display: flex;
            gap: 0.5rem;
            align-items: center;
            

            .img-wrapper {
                    width: 2.3rem;
                    height: 2.3rem;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 2px;
                    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
                }

            img{
                width: 2rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
        }

        img{
            width: 100%;
        }
    }
}
}